scikit-learn
pandas
numpy
matplotlib
seaborn
statsmodels
xgboost
tensorflow
keras
fastapi
uvicorn[standard]
jupyter
mlflow
python-dotenv
# Add Apache Airflow or other specific libraries as needed later 

# Code Quality Tools
flake8
black 